body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
 background: 
    linear-gradient(#0007, #0000),
    #123;
}

.gift-card {

  height: 300px;
  /* Typical gift card height */
  width: 350px;
  /* Typical gift card width */
  background-color: #17141d;
  color: white;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* Adds depth */
  overflow: hidden;
  /* Ensures content stays within rounded corners */
  transition: transform 200ms ease, box-shadow 200ms ease, background-color 200ms ease;
  will-change: transform;
  cursor: pointer;
}

.gift-card {
  position: relative;
  /* allow absolute children like the triangle */
}

/* triangular "message" edges that meet at the corners to form a continuous rectangular sawtooth */
.card {

  width: 300px;
  height: 200px;
  background: #1e1e1e;
}

/* common */
.gift-card {
  position: relative;
}

/* first diagonal */
.gift-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 145%;
  height: 0.5px;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%) rotate(40deg);
  z-index: 9;
}

/* second diagonal */
.gift-card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 145%;
  height: 0.5px;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%) rotate(-40deg);
  z-index: 9;
}

.click {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48.5px;
  height: 48.5px;
  border-radius: 50%;
  background: rgb(179, 25, 25);
  border-radius: 167px;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 12px;
  align-items: center;
}

/* top triangle */
.up {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 115%;
  height: 58%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: #d6bd96;
  border: #17141d 2px solid;
}

/* bottom triangle */
.down {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 127%;
  height: 58%;
  transform: translateX(-50%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background-color: #d6bd96;
  z-index: 10;
}

/* left triangle */
.left {
  position: absolute;
  left: 175px;
  top: 50%;
  width: 58%;
  height: 114%;
  transform: translateY(-50%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background-color: #d6bd96;
}

/* right triangle */
.right {
  position: absolute;
  right: 175px;
  top: 50%;
  width: 58%;
  height: 114%;
  transform: translateY(-50%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: #d6bd96;

}

.gift-card__content {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gift-card__amount {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.gift-card__amount-remaining {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}

.gift-card__code {
  font-family: monospace;
  /* Monospaced font for codes */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.gift-card__msg {
  font-size: 0.8rem;
  color: #aaa;
}

#then {
  display: none;
}

.wr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  font-size: 10px;
  font-weight: bold;
}

.gift-card {
  position: relative;
}

/* overlay hidden by default */
.gift-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(55.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 12px;
  z-index: 15;
}

.gift-card__overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* remove top:10px from .qr */
.qr {
  font-size: 1.5rem;
  margin-bottom: -38px;
  margin-top: -9px;
  margin-right: 97px;
  color: #ba6401;
  background-color: #ffffff3d;
}

.qr2 {
 font-size: 1.5rem;
  margin-bottom: -47px;
  margin-right: 91px;
  margin-top: 39px;
  color: #ba6401;
  background-color: #ffffff3d;
}

.qr3 {
  margin-bottom: 12px;
  margin-right: 149px;
  color: #ba6401;
  margin-top: 49px;
  font-size: 15px;
  background-color: #ffffff3d;;
}

.line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.qr4 {
 margin-bottom: 19px;
  margin-right: 60px;
  color: #ba6401;
  margin-top: 100px;
  font-size: 10px;
  background-color: #ffffff3d;
}
@keyframes firework {
  0% {
    transform: translate(var(--x), var(--initialY)) scale(0.2);
    width: var(--initialSize);
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  55% {
    width: 2vmin;
    opacity: 1;
  }

  100% {
    transform: translate(var(--x), var(--y)) scale(1);
    width: var(--finalSize);
    opacity: 0;
  }
}

.firework,
.firework::before,
.firework::after {
  --initialSize: 1vmin;
  --finalSize: 80vmin;
  --particleSize: 0.45vmin;
  --color1: rgb(255, 0, 0);
  --color2: rgb(23, 42, 151);
  --color3: white;
  --color4: rgb(41, 148, 134);
  --color5: gold;
  --color6: mediumseagreen;
  --x: -50%;
  --y: -30vmin;
  --initialY: 60vmin;

  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--initialSize);
  aspect-ratio: 1;
  transform: translate(var(--x), var(--initialY)) scale(0.2);
  animation: firework 2.8s ease-out infinite;
  pointer-events: none;
  background:
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -30vmin;
  --initialY: 60vmin;
  transform: translate(var(--x), var(--initialY)) rotate(25deg) scale(1.15);
}

.firework::after {
  --x: -50%;
  --y: -30vmin;
  --initialY: 60vmin;
  transform: translate(var(--x), var(--initialY)) rotate(-25deg) scale(1.15);
}

.firework:nth-child(1),
.firework:nth-child(1)::before,
.firework:nth-child(1)::after {
  left: 50%;
  top: 78%;
  --x: 0vmin;
  --y: -59vmin;
  --initialY: 25vmin;
  animation-delay: 0s;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: rgb(185, 141, 44);
  --color2: violet;
  --color3: rgb(77, 13, 52);
  --color4: orchid;
  --color5: plum;
  --color6: lavender;
  --finalSize: 140vmin;

  left: 22%;
  top: 82%;
  --x: -18vmin;
  --y: -70vmin;
  --initialY: 22vmin;
  animation-delay: 0.9s;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 70vmin;

  left: 78%;
  top: 80%;
  --x: 130vmin;
  --y: -68vmin;
  --initialY: 24vmin;
  animation-delay: 1.8s;
}
